.app-hero {
  text-align: center;
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  padding-block: 90px;
  .title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: rem(40px);
  }
  .text {
    font-size: rem(20px);
  }
}
