.app-section {
  display: flex;
  align-items: center;
  gap: 60px;
  padding-block: 90px;

  .title {
    font-family: Raleway;
    font-size: rem(40px);
    margin-bottom: 20px;
  }
  .text {
    font-size: rem(16px);
    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
    &:last-of-type {
      margin-bottom: 26px;
    }
  }
  .link {
    color: $accent-1;
    position: relative;
    i {
      font-size: 0.88em;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -4px;
      height: 1px;
      background-color: $accent-1;
    }
  }
}
