* {
  box-sizing: border-box;
}

html {
  font-family: OpenSans, sans-serif;
  font-weight: 400;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: rem(14px);
  color: $neutral-1;
}

#app {
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Raleway, serif;
}

p {
  margin: 0;
  font-weight: unset;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: unset;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%;
}

.video:has(iframe) {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video iframe,
.videos object,
.video embed {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold;
}

/* inputs reset */
input[type='text'],
input[type='email'],
textarea {
  appearance: none;
  border: none;
  resize: none;
  padding: 0.6rem 0;
  font-size: 0.88rem;
}

input:focus-within,
textarea:focus-within {
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button,
a.btn {
  outline: none;
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: em(16px);
  font-weight: 700;
  font-family: Raleway;
  color: $neutral-1;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4rem;
  background-image: linear-gradient(152deg, #63e1d9 0%, #34a0cd 100%);
  padding: 20px 100px;
  cursor: pointer;
}

input[type='text'],
input[type='email'] {
  font-size: em(16px);
  font-weight: 700;
  font-family: Raleway;
  color: $clr-1;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4rem;
  padding: 20px 30px;
}
