@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-VariableFont_wght.woff2')
      format('woff2 supports variations'),
    url('../fonts/Raleway-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 400 700;
}
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/sectioned-fonts/Poppins-Light.ttf) format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/sectioned-fonts/Poppins-Regular.ttf) format('truetype');
  font-weight: 400;
}
