$layoutPadding: 80px;

// Colors
$clr-1: #1b2330;
$clr-2: #181f2a;
$clr-3: #0b1523;
$clr-4: #202a3c;

$accent-1: #62e0d9;
$accent-2: hsl(198, 60%, 50%);

$neutral-1: white;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$large-breakpoint: 1280px;

:root {
}
